<app-main-header [pageTitle]="pageTitle" [showPath]="true" />

<section class="all-blogs-section">
  <div class="main-cont">
    <div class="section-header">
      <h2 class="subtitle">
        {{ currentLang() === "ar" ? "مدونتنا" : "Our Blog" }}
      </h2>
      <h3 class="main-title">
        {{
          currentLang() === "ar"
            ? "آخر المقالات القانونية"
            : "Latest Legal Articles"
        }}
      </h3>
      <div class="title-divider"></div>
    </div>

    <div class="blog-grid">
      <article class="blog-card" *ngFor="let post of paginatedPosts()">
        <a [routerLink]="['/blog', post.slug]" class="blog-link">
          <div class="blog-image">
            <!-- <img src="imgs/blog.webp" alt="Blog" /> -->
            <img src="imgs/black-screen-background-4k.png" alt="Blog" />
            <div class="image-overlay"></div>
          </div>
          <div class="blog-content">
            <h4 class="blog-title">{{ getText(post.title) }}</h4>
            <div class="blog-footer">
              <span class="read-more">
                {{ currentLang() === "ar" ? "اقرأ المزيد" : "Read More" }}
                <i
                  class="fa-solid fa-arrow-left"
                  [style.transform]="
                    currentLang() === 'en' ? 'rotate(180deg)' : 'none'
                  "
                ></i>
              </span>
            </div>
          </div>
        </a>
      </article>
    </div>

    <!-- Paginator -->
    <div class="card flex justify-center max-w-full">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first()"
        [rows]="rows()"
        [totalRecords]="blogPosts().length"
        [rowsPerPageOptions]="[9, 12, 18]"
      />
    </div>
  </div>
</section>
