<div class="main-page">
  <app-main-header />

  <app-landing-components />

  <app-services />
  <!-- <app-testimonials /> -->
  <!-- Why Us Section -->
  <!-- <section class="why-us-section">
    <div class="section-overlay"></div>
    <div class="main-cont">
      <div class="why-us-content">
        <h2 class="section-title">لماذا يختار العملاء خدماتنا؟</h2>
        <div class="title-divider"></div>
        <p class="section-description">
          شركة تركي الجريس للمحاماة هي الخيار الأمثل للعملاء الذين يبحثون عن
          خدمات قانونية متميزة. فريق المحامين لدينا يتمتع بخبرة واسعة في مجالات
          القانون المختلفة، بما في ذلك المعاملات التجارية، والقضايا المدنية،
          والشؤون العقارية. نحن ملتزمون بتقديم أعلى مستويات الخدمة والنزاهة
          المهنية، مما يضمن حصول عملائنا على النتائج التي يتطلعون إليها. تركز
          استراتيجيتنا على فهم احتياجات العملاء واقتراح الحلول الفعالة
          والابتكارية. سمعتنا الممتازة والتزامنا بالتميز جعلتنا خياراً موثوقاً
          ومفضلاً بين الشركات والأفراد في المنطقة.
        </p>
      </div>
    </div>
  </section> -->
  <app-main-pic />
  <app-blog />
  <!-- <app-about /> -->
  <app-contact />
</div>
